.container{
    text-align: center;
}

#answer{
    width: 300px;
    border-radius: 14px;
}

.calc{
    background-color: darkblue;
    padding: 11px;
    display: inline-block;
    border-radius: 20px;
}

input{
    font-size: 30px;
    width: 69px;
    height: 60px;
    margin: 5px;
    border-radius: 9px;
    border: none;
}